<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664290790490-9k7n0phd1js52frod2aqipom94a41s6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664290790490-9k7n0phd1js52frod2aqipom94a41s6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAkjCXT2hcfgZMrupBUOUily5Ktz7VDNN4</string>
	<key>GCM_SENDER_ID</key>
	<string>664290790490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mwg.tgdd.loyalty</string>
	<key>PROJECT_ID</key>
	<string>loyalty-1df7d</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-1df7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664290790490:ios:92979f3d1d2be749965c63</string>
	<key>DATABASE_URL</key>
	<string>https://loyalty-1df7d.firebaseio.com</string>
</dict>
</plist>